// imports
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

// variables
$bg-color: rgb(250, 228, 200);

body {
    background-color: $bg-color;

    h1 {
        font-family: 'Sixtyfour';
        text-shadow: 2px 2px lightgray;
    }

    figcaption, footer {
        font-size: x-small;
    }

    ul {
        list-style-type: none;
    }

    .smaller {
        font-size: small;
    }

}
