// imports
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

// variables
$bg-color: rgb(250, 228, 200);

body {
    background-color: $bg-color;

    h1 {
        font-family: 'Sixtyfour';
        text-shadow: 2px 2px lightgray;
    }

    figcaption, footer {
        font-size: x-small;
    }

    ul {
        list-style-type: none;
    }

    .smaller {
        font-size: small;
    }
    .accordion-button {
        background-image: linear-gradient(to bottom right, lightsteelblue, dimgray);
        font-weight: bold;
    }
    .accordion-body ul{
        // create arrows for the lists and dashes for the secondary lists
        li {
            list-style: none;
        }
        li::before {
            content: "\2B9A"; 
        }
        ul {
            list-style-type: none;
            color:#616161;
          }
          ul li::before {
            content: '\290F';
          }
    }

}
